

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.main{
    margin:auto;
    color: #000;
    text-align: center;

}
.test{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}
.round-button {
    width:25%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    text-align: center;
}
.round-button-circle {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #cfdcec;
    overflow: hidden;
    margin-top:3em;
    background: #5cb85c; 
    box-shadow: 0 0 3px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    

}
.round-button-circle:hover {
    background:#419641;
    
}
.round-button a {
    display:block;
    float:left;
    width:80%;
    padding-top:15%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
    margin-left: 10%;

}
.BOOTFOTO{
    position: absolute;
    right: 80px;
    margin-top: -100px;
}


.copyright {
    float: bottom;
}

.social { 
    float: right;
}

.navbar{
    
    background-color: #e4e4e4;
    
}

.navbar-brand{
    color: black
}
.btn-success{
    margin-top: 10px;
    font-size: xx-large;
   
}
input.form-control
{
    font-size: large;
    max-width: 350px;
    text-align: center;
    position: relative;
}