.navbar-default
{
	border: none;
}

/*** HEADINGS ***/

body
{
    background-color: rgb(235, 235, 235);
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}

h1
{
    font-size: 40px;

    margin-top: 15px;
}

h2
{
    font-size: 30px;

    margin-top: 15px;
}

h3
{
    font-size: 20px;

	margin-top: 5px;
	margin-bottom: 5px;
}



/*** DIVS ***/

/** div for app header section **/
div.header
{
	background-color: rgb(245, 245, 245);

	padding: 10px;

	display: inline-block;
	width: 100%;
}

/** div for app subheader section **/
div.subheader
{
	border-radius: 10px;

	background-color: rgb(255, 255, 255);

	padding: 5px;

	display: inline-block;
	width: 100%;
}

/** div for app title in subheader **/
div.subheadertitle
{
	border-radius: 5px;

	background-color: rgb(245, 245, 245);

	padding-top: -10px;
	padding-bottom: -10px;

	display: inline-block;
	width: 100%;
}

/** div for titles and other headers **/
div.title
{
	border-radius: 10px;

	background-color: rgb(255, 255, 255);

	padding: 5px;

	margin-top: 2px;
	margin-bottom: 5px;

	display: inline-block;
	width: 100%;
}

/** div for page sections **/
div.body
{
	border-radius: 10px;

	background-color: rgb(245, 245, 245);

	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	display: inline-block;
	width: 100%;
}

/** div for page subsections **/
div.subbody
{
	border-radius: 10px;

	background-color: rgb(255, 255, 255);

	padding: 5px;

	margin-top: 5px;
	margin-bottom: 5px;

	display: inline-block;
	width: 100%;
}



/** TILES **/

/** General tile div **/
div.tile
{
	border-radius: 5px;

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** Danger red **/
div.red
{
    background-color: rgb(255, 102, 102);
}

/** Warning orange **/
div.orange
{
    background-color: rgb(255, 181, 77);
}

/** Confirmed bright orange **/
div.bright_orange
{
    background-color: rgb(255, 153, 51);
}

/** Profile lime **/
div.lime
{
    background-color: rgb(153, 204, 0);
}

/** Edit data on profile dark lime **/
div.dark_lime
{
    background-color: rgb(96, 128, 0);
}

/** Edit data on profile extra dark lime **/
div.extra_dark_lime
{
    background-color: rgb(77, 102, 0);
}

/** Success green (also offer_service dark green) **/
div.green
{
    background-color: rgb(0, 153, 51);
}

/** Offer_service green **/
div.light_green
{
    background-color: rgb(45, 195, 61);
}

/** Ask_for_service cyan **/
div.cyan
{
    background-color: rgb(0, 204, 153);
}

/** Ask_for_service dark cyan **/
div.dark_cyan
{
    background-color: rgb(0, 153, 115);
}

/** Info light blue **/
div.light_blue
{
    background-color: rgb(77, 195, 255);
}

/** Primary blue **/
div.blue
{
    background-color: rgb(61, 153, 255);
}

/** Service match bright blue **/
div.bright_blue
{
    background-color: rgb(51, 51, 255);
}

/** Category match purple **/
div.purple
{
    background-color: rgb(133, 51, 255);
}

/** Back button gray **/
div.gray
{
    background-color: rgb(150, 150, 150);
}

/** Edit data on profile **/
div.edit_fields
{
    text-align: left;
    font-size: 16px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 7px;
    padding-right: 7px;
}



/** BLOCKS **/

/** Creates margins between blocks (workaround for bootstrap tile system) **/
div.block_divider
{
    display: inline-block;

    margin-top: 5px;
    margin-bottom: 5px;
}

/** General block DIV used in navigating the website **/
div.block
{
    border-radius: 10px;
    padding: 10px;
}

/** Error DIV used to inform the user of an error message **/
div.error
{
    min-width: 25%;
    max-width: 100%;

    display: inline-block;
}

/** Small block **/
div.small
{
    min-height: 200px;
}

/** Regular block **/
div.regular
{
    min-height: 275px;
}

/** Medium block **/
div.medium
{
    min-height: 300px;
}

/** Large block **/
div.large
{
    min-height: 350px;
}

/** Extra large block **/
div.extra_large
{
    min-height: 400px;
}

div.service_button
{
	position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
}

div.form-block
{
	min-width: 75%;

	display: inline-block;
}

/*** SINGLE LETTER TAGS ***/

/** URL elements - LIGHT BLUE **/
a
{
	color: rgb(75, 125, 225);
}

/** Bold text indicating something positive - DARK GREEN **/
b.green
{
	color: rgb(0, 153, 51);
}

/** Bold text indicating something negative - MEDIUM RED **/
b.red
{
	color: rgb(200, 0, 0);
}

/** Bold text indicating something neutral - DARK GREY **/
b.grey
{
	color: rgb(100, 100, 100);
}

/** Bold text indicating something neutral - WHITE **/
b.white
{
	color: rgb(255, 255, 255);
}

/** COLORS
 ** Special tags that only influence text color **/

c.red
{
	color: rgb(230, 0, 0);
}

c.green
{
	color: rgb(0, 153, 51);
}

c.blue
{
	color: rgb(75, 150, 255);
}

/*** INPUT ***/

/** Input windows and buttons - BLACK TEXT **/
input
{
	color: rgb(0, 0, 0);
}

/** Input element for forms **/
input.form-control
{
	margin-top: 2px;
	margin-bottom: 2px;
}

/** Select element for forms **/
select.form-control
{
	max-width: 350px;
	margin: 3px;
}