.navbar-default
{
	border: none;
}

/*** HEADINGS ***/

body
{
    background-color: rgb(235, 235, 235);
    color: rgb(50, 50, 50);
    font-size: 14px;
}

h1
{
    font-size: 40px;

    margin-top: 15px;
}

h2
{
    font-size: 30px;

    margin-top: 15px;
}

h3
{
    font-size: 20px;

	margin-top: 5px;
	margin-bottom: 5px;
}

h1, h2, h3
{
	color: rgb(0, 0, 0);
}

/*** DIVS ***/

/** DIV element describing a list that needs a border around it - adjusts to text width in block **/
div.list
{
    border: 3px solid rgb(100, 100, 100);
    border-radius: 15px;

    background-color: rgb(150, 200, 150);

    padding: 10px;
    display: inline-block;
}

/** Cheat list with set height of 300px **/
div.list_cheat
{
    border: 2px solid rgb(100, 100, 100);
    border-radius: 15px;

    background-color: rgb(150, 200, 150);

    padding: 10px;
    margin: 10px;
    display: inline-block;
    min-height: 300px;
}

/** div for app header section **/
div.header
{
	background-color: rgb(50, 50, 50);

	text-align: center;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	padding: 10px;

	display: inline-block;
	width: 100%;
}

/** div for app subheader section **/
div.subheader
{
	border-radius: 10px;

	background-color: rgb(75, 75, 75);

	text-align: center;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	padding: 5px;

	display: inline-block;
	width: 100%;
}

/** div for app title in subheader **/
div.subheadertitle
{
	border-radius: 5px;

	background-color: rgb(50, 50, 50);

	color: rgb(100, 100, 100);

	text-align: center;
	padding-top: -10px;
	padding-bottom: -10px;

	display: inline-block;
	width: 100%;
}

/** div for titles and other headers **/
div.title
{
	border-radius: 10px;

	background-color: rgb(255, 255, 255);

	text-align: center;
	padding: 5px;

	margin-top: 2px;
	margin-bottom: 5px;

	display: inline-block;
	width: 100%;
}

/** div for page sections **/
div.body
{
	border-radius: 10px;

	background-color: rgb(245, 245, 245);

	text-align: center;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	display: inline-block;
	width: 100%;
}

/** div for page subsections **/
div.subbody
{
	border-radius: 10px;

	background-color: rgb(255, 255, 255);

	padding: 5px;

	margin-top: 5px;
	margin-bottom: 5px;

	display: inline-block;
	width: 100%;
}

/** div for showing blue colored tiles in subsections **/
div.tile_primary
{
	border-radius: 5px;

	background-color: rgb(61, 153, 255);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing green colored tiles in subsections **/
div.tile_success
{
	border-radius: 5px;

	background-color: rgb(0, 153, 51);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing light blue colored tiles in subsections **/
div.tile_info
{
	border-radius: 5px;

	background-color: rgb(128, 212, 255);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing yellow colored tiles in subsections **/
div.tile_warning
{
	border-radius: 5px;

	background-color: rgb(255, 195, 112);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing red colored tiles in subsections **/
div.tile_danger
{
	border-radius: 5px;

	background-color: rgb(255, 102, 102);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing light green colored tiles in subsections **/
div.tile_offer_service
{
	border-radius: 5px;

	background-color: rgb(45, 195, 61);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing dark cyan colored tiles in subsections **/
div.tile_ask_for_service
{
	border-radius: 5px;

	background-color: rgb(0, 204, 153);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing bright orange colored tiles in subsections **/
div.tile_confirmed
{
	border-radius: 5px;

	background-color: rgb(255, 153, 51);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** div for showing bright grey tiles in subsections **/
div.tile_grey
{
	border-radius: 5px;

	background-color: rgb(150, 150, 150);

	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

	margin: 5px;
}

/** General block DIV used in navigating the website - blue **/
div.block_primary
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(61, 153, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - blue **/
div.block_primary_small
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(61, 153, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - green **/
div.block_success
{
	/*border: 2px solid rgb(0, 150, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 153, 51);

	text-align: center;

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - green **/
div.block_success_small
{
	/*border: 2px solid rgb(0, 150, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 153, 51);

	text-align: center;

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - dark cyan **/
div.block_success2
{
	/*border: 2px solid rgb(0, 150, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 153, 115);

	text-align: center;

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - dark cyan **/
div.block_success2_small
{
	/*border: 2px solid rgb(0, 150, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 153, 115);

	text-align: center;

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - blue **/
div.block_info
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(128, 212, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - blue **/
div.block_info_small
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(128, 212, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

div.block_info_large
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(128, 212, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 350px;
}

div.block_info_extra_large
{
	/*border: 2px solid rgb(75, 100, 150);*/
    border-radius: 10px;

    background-color: rgb(128, 212, 255);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 400px;
}


/** General block DIV used in navigating the website - orange **/
div.block_warning
{
	/*border: 2px solid rgb(150, 100, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 195, 112);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - orange **/
div.block_warning_small
{
	/*border: 2px solid rgb(150, 100, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 195, 112);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - red **/
div.block_danger
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 102, 102);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - red **/
div.block_danger_small
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 102, 102);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - light green **/
div.block_offer_service
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(45, 195, 61);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - light green **/
div.block_offer_service_small
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(45, 195, 61);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - dark cyan **/
div.block_ask_for_service
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 204, 153);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - dark cyan **/
div.block_ask_for_service_small
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(0, 204, 153);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - bright orange **/
div.block_confirmed
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 153, 51);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - bright orange **/
div.block_confirmed_small
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(255, 153, 51);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

/** General block DIV used in navigating the website - grey **/
div.block_grey
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(150, 150, 150);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 275px;
}

/** General small block DIV used in navigating the website - grey **/
div.block_grey_small
{
	/*border: 2px solid rgb(150, 0, 0);*/
    border-radius: 10px;

    background-color: rgb(150, 150, 150);

    color: rgb(255, 255, 255);

    padding: 10px;
    margin: 5px;
    min-height: 200px;
}

div.block
{
	display: inline-block;
	min-height: 275px;
}

div.service_button
{
	position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
}

/*** SINGLE LETTER TAGS ***/

/** URL elements - LIGHT BLUE **/
a
{
	color: rgb(75, 125, 225);
}

/** Bold text indicating something positive - DARK GREEN **/
b.green
{
	color: rgb(0, 153, 51);
}

/** Bold text indicating something negative - MEDIUM RED **/
b.red
{
	color: rgb(200, 0, 0);
}

/** Bold text indicating something neutral - DARK GREY **/
b.grey
{
	color: rgb(100, 100, 100);
}

/** Bold text indicating something neutral - WHITE **/
b.white
{
	color: rgb(255, 255, 255);
}

/** COLORS
 ** Special tags that only influence text color **/

c.white
{
	color: rgb(255, 255, 255);
}

c.red
{
	color: rgb(230, 0, 0);
}

c.green
{
	color: rgb(0, 153, 51);
}

c.blue
{
	color: rgb(75, 150, 255);
}

/*** INPUT ***/

/** Input windows and buttons - BLACK TEXT **/
input
{
	color: rgb(0, 0, 0);
}

/** Input windows for forms **/
input.form-control
{
	max-width: 350px;
	margin: 3px;
}

/** Select element for forms **/
select.form-control
{
	max-width: 350px;
	margin: 3px;
}